[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
tensorflow-hub = "*"
python-multipart = "*"
tensorflow = "*"
pandas = "*"
google-auth = "*"
google-cloud-storage = "*"
gym = "*"

[requires]
python_version = "3.8"
